{% load static %}
<footer id="footer" class="footer-area section-padding">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
              <h3 class="footer-logo"><h1>WILL</h1></h3>
            <div class="textwidget">
              <p>Com paixão por transformar ideias em código funcional e experiência em resolver desafios complexos, estou pronto para contribuir e inovar como programador na sua equipe.</p>
            </div>
            <div class="social-icon">
              <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
              <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
              <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
              <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Produtos</h3>
          <ul class="footer-link">
            <li><a href="#">Rastreamento</a></li>
            <li><a href="#">Aplicativo</a></li>
            <li><a href="#">Planejamento de Recursos</a></li>
            <li><a href="#">Empresa</a></li>
            <li><a href="#">Gestão de Funcionários</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Recursos</h3>
          <ul class="footer-link">
            <li><a href="#">Opções de Pagamento</a></li>
            <li><a href="#">Tabela de Taxas</a></li>
            <li><a href="#">Começando</a></li>
            <li><a href="#">Verificação de Identidade</a></li>
            <li><a href="#">Verificação de Cartão</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Contato</h3>
          <ul class="address">
            <li>
              <a href="#"><i class="lni-map-marker"></i> Cidade Universitária, Maceió - AL <br> Condominio recantos das sairas</a>
            </li>
            <li>
              <a href="#"><i class="lni-phone-handset"></i> Tel: +55 82 994237926</a>
            </li>
            <li>
              <a href="#"><i class="lni-envelope"></i> E-mail: wilgner.italo25@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-content">
            <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> Todos os direitos reservados</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>