{% load static %}
<section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meus Serviços</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
                <div class="services-content">
                  <h3><a href="#">Automação de Tarefas</a></h3>
                  <p>Automatização de processos computacionais e web utilizando Selenium e PyAutoGUI, aumentando a eficiência e desempenho da sua empresa.</p>
                </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-brush"></i>
              </div>
                    <div class="services-content">
                      <h3><a href="#">HTML e CSS</a></h3>
                      <p>Utilizando estilos e inovações de design mais atuais, trazemos atratividade e uma experiência visual moderna para seus clientes.</p>
                    </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="lni-code"></i>
              </div>
                <div class="services-content">
                  <h3><a href="#">JavaScript Intermediário</a></h3>
                  <p>Para um melhor desempenho em sites complexos, é essencial contar com um JavaScript eficiente e livre de bugs.</p>
                </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lni-layers"></i>
              </div>
                <div class="services-content">
                  <h3><a href="#">Banco de Dados</a></h3>
                  <p>Com um ano de experiência no mercado de bancos de dados, estou pronto para ajudar várias empresas a otimizar e gerenciar suas informações de maneira eficaz.</p>
                </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="lni-layout"></i>
              </div>
                <div class="services-content">
                  <h3><a href="#">Templates</a></h3>
                  <p>Melhore o tráfego de clientes com templates que persuadam e incentivem a compra de seus produtos.</p>
                </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
               <h3><a href="#">Desenvolvimento Back-End</a></h3>
<p>Com expertise em Python, ofereço soluções de back-end otimizadas para seus sites, garantindo velocidade nos processos e tratamento eficiente de dados.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- About Section start -->
    <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                    <p class="mb-3">Aprendizado Prático</p>
                    <h2 class="section-title">Desejo de Aprender e Crescer em uma Empresa de Desenvolvimento</h2>
                    </div>
                    <div class="content">
                      <p>
                        Tenho uma forte vontade de aprender como tudo funciona na prática em uma empresa de desenvolvimento. Acredito que a experiência prática é fundamental para complementar o conhecimento teórico, e estou ansioso para me aprofundar no mundo do desenvolvimento de software. Trabalhar ao lado de profissionais experientes e compreender os processos e metodologias utilizados na indústria é uma oportunidade que valorizo imensamente.
                      </p>
                  <a href="https://api.whatsapp.com/send/?phone=5582994237926&text&type=phone_number&app_absent=0" target="_blank" class="btn btn-border video-popup">Fale comigo</i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static  'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>