{% load static %}
<section id="trabalhos" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meus trabalhos</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static  'img/team/team-01.png' %}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
    <h3><a href="https://statusinvest.com.br/fundos-imobiliarios/mxrf11" target="_blank">statusinvest.com</a></h3>
                  <p>Front-end Developer</p>
                </div>
                <p>Participei de um clone do site statusinvest.com.br na parte do front-end.</p>
                    <button  class="btn btn-common mt-3"><a href="https://statusinvest.com.br/fundos-imobiliarios/mxrf11" target="_blank">Acessar</a></button>

              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{% static  'img/team/team-02.png' %}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="https://playclassic.games/" target="_blank">Playclassic </a></h3>
                  <p>FullStack</p>
                </div>
                <p>Fiz uma copia do site playclassic, exatamente identica, tanto no back como no fronte!</p>
                    <button  class="btn btn-common mt-3"><a href="https://playclassic.games/" target="_blank">Acessar</a></button>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{% static  'img/team/team-03.png' %}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="https://www.iplace.com.br/" target="_blank">Iplace</a></h3>
                  <p>Front-end Developer</p>
                </div>
                <p>Copia identica do site iplce, um fronte-end bem trabalho e finalizado!</p>
                  <button  class="btn btn-common mt-3"><a href="https://www.iplace.com.br/" target="_blank">Acessar</a></button>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
              <div class="team-img">
                <img class="img-fluid" src="{% static  'img/team/team-04.png' %}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="https://amaro.com/collections/roupas">Amaro</a></h3>
                  <p>Lead Designer</p>
                </div>
                <p>Um trabalho robusto e diferenciado com um toque de classe.</p>
                  <button  class="btn btn-common mt-3"><a href="https://amaro.com/collections/roupas" target="_blank">Acessar</a></button>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
        </div>
      </div>
    </section>